.header {
  background-image: url(images/Header-llustration-desktop@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
  width: 100%;
}

.textColor {
  color: #172b4d;
  font-size: 12px;
  background: #EBF0EE;
  border-radius: 4px;
}
.img {
  width: 100%;
}
